

body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
  font-size:24px ;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.grayhead{
  background-color: rgb(222, 222, 222);
  width: 100%;
  height: 12px;
}


  /********************************************************/


 /* image de "mon compte" */
.imgcompte{
  height: 24px;
  width: 13%;
}

/* Premier menu */
.menu1{
  background-color: rgb(25, 179, 134);
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  gap : 100px;
  align-items: center;
}

.menu1PourAutrePage{
  background-color: rgb(174, 228, 207);
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  gap : 100px;
  align-items: center;
}

.acceuil{
  margin-left: 60px;
}

a{
  color: black;
  text-decoration: none;
  text-align: center;
}

.titre{
  display: flex;
  padding-top: 7%;
  padding-left: 12%;
}


  /********************************************************/


 /** entete contenant l'image**/

.entete{
  background-color: rgb(39, 184, 138);
  width: 100%;
  height: 300px;
}

.entetePourAutrePage{
  background-color:rgb(192, 246, 223);
  width: 100%;
  height: 300px;
}

/* imge du viage vert dans l'entete */
.imageMenu{
  position: relative; /* placer le logo au dessus de l'entete */
  left: 40%;          /* Centrer*/
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 265px;
}

.logo{
  float: left; /* placer le logo à gauche */
  position: absolute; /* placer le logo au dessus de l'image */
  height: 30%;
  width: 15%;
  top: 1px; /* ajoute l'espace depuis le haut de l'image */
  left: 30px;
}

.menu2{
  position: absolute; /* placer le menu2 au dessus de l'image */
  top: 75px;              /* ajoute l'espace depuis le haut de l'image */
  left: 35%;              /* centre */
  display: flex;
  gap: 100px;              /* espace les element entre eux */
}

.matiere{
  padding-left: 15%;
}

/* images de la mine fleche */
.flechecompte{
  height: 30%;
  
}


  /*.................................................................................*/
  /* Body */






  /*-----------------------------Contact------------------------------------------------------------*/



  .Phrases_introduction {
    font-family:  'Arial Narrow', Arial, sans-serif; 
  }

  .Boite_du_body {
    
    width: 90%;
    margin: 25px;
    margin-left: 10%;
    }


    .titre{
      padding-left: 16%;
      padding-top: 9%;
      font-size: 20px;
      font-family:'Arial Narrow', Arial, sans-serif;
      
    }
.boiteContacts {

  background-color:#f4f2ef;
  width: 90%;
  text-align: start;
  box-shadow: 7px 7px #efe9e4;
  padding-bottom: 1%;
  font-family: 'Arial Narrow', Arial, sans-serif;
  margin-top:35px ;
}
.contenu{
  padding-left:2%;
  padding-top: 2%;
  display:flex;
  
}
.contact {

  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
}

/*----------------------------Inscription-------------------------------------------------------------------------------*/


.imagesDuBody{
  display: flex;
  flex-direction: column;
  
}
.BodyDuInscription{
font-family: 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
 display: flex;
 flex-direction: row;
 justify-content: start;
 align-items: flex-start;
 gap: 20px;
 padding-top: 100px;
 padding-left: 100px;

}

.NiveauEtProvince {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 300px;
  
 
} 
.Entree {
  border-bottom: 4px solid #000 ;
  background: transparent;
  font-size: 16px;
  padding: 6px 4px;
}

.InscriptionEtapes {
   
  display: flex;
  flex-direction: column;
  gap: 25px;
  
}
.reglesMDP {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.lien:hover {
  color: blue;
  text-decoration: underline;
  
}
.Suivant{
  border-radius: 25px;
  width: 85px;
  height: 25px;
  box-shadow: 0 4px 8px rgba(0,0,0,15);
  }

.Suivant:hover{
background-color: seagreen;
}
.PlaceBouton {
  display: flex;
  flex-direction: row-reverse;
}

.MDPoublie{
  padding-left: 322px;
}
 




  /********************************************************/

  /* pied de page */


  footer{
    background-color:rgba(1, 191, 142);
    width: 100%;
    height:auto;
    
  
    }
  
  
    .HautFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
     
    }
  
  
  
    .media a img{
      width: 50px;
      height: 50px;
      
     
    }
  
    .ligne{
  
      width: 90%;
      border-width: 2px;
      border-color: black;
      margin-bottom: 0;
      margin-top: 0;
    }
  
  
  
    .milieuFooter{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      gap: 39%; /* espace entre les deux texte */
    }
  
    .lienpied{
      list-style: none;
      text-align: right;
    }
  
    .lienpied li {
      padding-bottom: 7px;
      padding-right: 20px;
      
    }
  
    .boutonfooter{
  
    border-radius: 99px; /*Contour arrondie*/
    border: 1px,solid;
    background-color: transparent;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    margin-bottom: auto;
    
    }
  
    .copyright{
      text-align: center;
      color: white;
      padding-bottom: 1%;
      
    }
  